<!DOCTYPE html>
<html>
<head>
<title>Home</title>
<link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<script src="js/jquery.min.js"></script>
<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />	
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="mod"/>
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>

<script type="text/javascript" src="js/move-top.js"></script>
<script type="text/javascript" src="js/easing.js"></script>
				<script type="text/javascript">
					jQuery(document).ready(function($) {
						$(".scroll").click(function(event){		
							event.preventDefault();
							$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
						});
					});
					</script>

</head>
<body>
	<!--header-->
	<div class="header">
		<div class="container">
		
				<div class="logo">
				<a href="index.html"></a>
				</div>
				
				<div class="pull-right">
					<ul class="account pull-right">
						<li><a href="login.html" ><p  style="font-size:15px"> 登录&nbsp&nbsp&nbsp</p></a></li>
						<li><a href="register.html"> <p  style="font-size:15px">注册</p></a></li>
					</ul>
			<div class="header-bottom">
				<div class="top-nav">
					<span class="menu"> </span>
					<ul>
						<li class="active"><a href="index.html"> HOME </a> </li>
						<li><a href="product.html" > GAMES </a></li>
						<li><a href="404.html" >  BLOGS  </a></li>
						<li><a href="contact.html"> CONTACT </a></li>
					</ul>
					
					
				<script>
					$("span.menu").click(function(){
						$(".top-nav ul").slideToggle(500, function(){
						});
					});
			</script>				
		</div>
		</div>
		</div>
		
		
	</div>
</div>


	<div class="container">
	
	<a href="single.html" class="ban"><div class="banner ">	
		  <div class="wmuSlider example1">
			   <div class="wmuSliderWrapper">
			 <article style="position: absolute; width: 100%; opacity: 0;"> 
				   	<div class="banner-wrap">	
						<div class="short" >
							<img class="img-responsive" src="images/sh2.jpg" alt="" >
						 </div>
						   <div class="month">
							<h4 class="text-center">上古卷轴</h4>
							<div class="month-grid">
								<p>《上古卷轴》（The Elder Scrolls，简称 TES）是由Bethesda Softworks开发的一款角色扮演单机游戏。</p>
								<div class="banner-btns">
									<span class="detail" href="#">详细</span>
									
								</div>
							</div>
						   </div>
				   		 <div class="clearfix"> </div>
				   	 </div>
			</article>
			<article style="position: absolute; width: 100%; opacity: 0;"> 
				   	<div class="banner-wrap">	
						<div class="short" >
							<img class="img-responsive" src="images/sh.jpg" alt="" >
						 </div>
						   <div class="month">
							<h4 class="text-center">辐射4</h4>
							<div class="month-grid">
								<p>《辐射4》是由Bethesda开发的一款角色扮演类游戏，于2015年11月10日发行，为《辐射》系列游戏作品的第四代。游戏中将会看到的物品、人物创意以及其他元素，游戏设定为末日后的波士顿市，萨默维尔市、剑桥市、阿灵顿市。</p>
								<div class="banner-btns">
									<span  >Detail</span>
								
								</div>
							</div>
						   </div>
				   		 <div class="clearfix"> </div>
				   	 </div>
			</article>
			<article style="position: absolute; width: 100%; opacity: 0;"> 
				   	<div class="banner-wrap">	
						<div class="short" >
							<img class="img-responsive" src="images/sh1.jpg" alt="" >
						 </div>
						   <div class="month">
							<h4 class="text-center">三国志13</h4>
							<div class="month-grid">
								<p>《三国志13》是日本光荣特库摩公司开发的历史模拟类游戏《三国志》系列的第13部作品，玩家可以体验三国时代的英雄们活跃于各种场面的剧情。游戏以辽阔的中国大陆为舞台，众多英雄人物都以扩大己方势力为目标，营造出前所未有的“动感”，让玩家们更能深刻感受《三国志》的世界观。</p>
								<div class="banner-btns">
									<span href="#">Detail</span>
									
								</div>
							</div>
						   </div>
				   		 <div class="clearfix"> </div>
				   	 </div>
			</article>
			</div>
		</div>
		<!---->
		  <script src="js/jquery.wmuSlider.js"></script> 
			  <script>
       			$('.example1').wmuSlider({
					 pagination : false,
				});         
   		     </script> 	
		
		</div>   </a>
	</div>
	</div>
	
	<div class="content">	
		<div class="container">
			<div class="content-top">
				<h5 class="welcome">WELCOME TO MOD</h5>
				<div class="search">
					<form>
						<input type="text" value="type your search here..." onFocus="this.value = '';" onBlur="if (this.value == '') {this.value = '';}">
						<input type="submit" value="">
					</form>
				</div>
				<div class="clearfix"> </div>
			</div>	
			
			<div class="content-middle">
				<div class="middle-content">
				</div>
					<div class="clearfix"> </div>
			</div>
				
				<div class="content-bottom">
					<div class="col-md-4 bottom-content">
						<a href="single.html"><img class="img-responsive" src="images/pi.jpg" alt="" >
							
						</a>			
					</div>
					<div class="col-md-4 bottom-content act">
						<a href="single.html"><img class="img-responsive" src="images/pi1.jpg" alt="" >
						
						</a>			
					</div>
					<div class="col-md-4 bottom-content ten">
						<a href="single.html"><img class="img-responsive" src="images/pi2.jpg" alt="" >
						
						</a>			
					</div>
					<div class="clearfix"> </div>
				</div>
				
				<div class="grid-top-in">
				<div class="grid-top">
					<div class="col-md-4 top-grid ">
						<h5>关于我们</h5>
						<p class="sed">dapibus posuere velit aliquet. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</p>
					</div>
					<div class="col-md-4 top-grid">
						<h5>地址和联系电话</h5>
							<div class="house">
								<i class="in-house"> </i>
								<div class="add">
								<p>略</p>
									<p>广州</p>
									<p>中国</p>
									<p>12345</p>
								</div>
							<div class="clearfix"> </div>
							</div>
							<div class="house">
								<i class="in-house in-on"> </i>
								<div class="add">
									<p>15902085549</p>
								</div>
							<div class="clearfix"> </div>
							</div>
					</div>
					<div class="col-md-4 top-grid">
						<h5>分享</h5>
							<ul class="social-in">
								<li><a href="#"><i> </i></a></li>						
								<li><a href="#"><i class="thumblr"> </i></a></li>
								<li><a href="#"><i class="pin"> </i></a></li>
								
							</ul>
							<ul class="social-in">
								<li><a href="#"><i class="twitter"> </i></a></li>
								<li><a href="#"><i class="dot"> </i></a></li>
							</ul>
							<div class="clearfix"> </div>
				</div>
					<div class="clearfix"> </div>
				</div>
			</div>
		</div>
	</div>
	<!---->
			<div class="footer">
				<div class="container">
					 <p class="footer-grid">Copyright &copy; 2015.Company name All rights reserved</p>
					
				</div> 	
				 <script type="text/javascript">
						$(document).ready(function() {

							
							$().UItoTop({ easingType: 'easeOutQuart' });
							
						});
					</script>
				<a href="#" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>

			</div>

</body>
</html>